body {
  background: #f9f9f9;
}

.nav-link {
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  &:hover {
    color: #007bff;
  }
}

ul.list-group {
  // list-style-type: none;

}

.list-item {

}
